#container {
  text-align: center;
  padding: 40px 0 500px;
}

capacitor-google-map {
  display: inline-block;
  width: 275px;
  height: 400px;
  margin: auto;
  outline: 5px solid blue;
}

ion-content {
  --ion-background-color: transparent;
}
