<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <capacitor-google-map #mapRef></capacitor-google-map>
    <ion-button color="info" type="button" (click)="createMap(mapRef)">
      Create Map
    </ion-button>
    <ion-button color="primary" type="button" (click)="addMarker()">
      Add Marker
    </ion-button>
    <ion-button color="secondary" type="button" (click)="moveMap()">
      Move Map
    </ion-button>
    <ion-button color="success" type="button" (click)="moveMarker()">
      Move Marker
    </ion-button>
  </div>
</ion-content>
